@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #090909;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.dropDown {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  flex-direction: column;
}
.refreshBtn {
  width: 204px;
  height: 56px;
  cursor: pointer;
  background-color: #eb0237;
  border-radius: solid;
}

.refresh {
  padding: 42px 42px 0;
  max-width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.commands {
  height: 65px;
  max-width: 100%;
  margin-bottom: 16px;
  background-color: rgb(33, 36, 39);
}

.commandBlock {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.abc {
  padding: 20px;
  align-content: center;
  align-items: center;
}
